#review {}
.content_title {}
#album-cover {
	margin: 5px 0 0 0;
	width:200px;
	height:200px;	
}
#album-details {
	width: 200px;
	float:left;
	font-size: 90%
}
.rating-star {  }
#review-content {	
	width: 500px;
	margin: 0 0 0 10px;
	float:left;
}
#review-content div {
	margin-top: 10px;
	font-size: 95%;
}

.social { 
	width:32px; height:32px;
}
